@import url('variables_globales.css');
.navbar {
    max-width: 100%;
    margin: 0 auto;
    padding: var(--padding-navbar);
    display: flex;
    justify-content: space-around;
}

.navbar__link {
    text-decoration: none;
    padding: var(--padding-link);
    font-size: var(--font-size-link);
    transition: background-color var(--transition-fast);
    color: var(--color-white);
}

.navbar__link:hover {
    border-radius: 5px;
}

.linea-ancha {
    height: 10px;
    background-color: var(--color-black);
}

.navbar__body--amarilla {
    background-color: var(--color-yellow);
}

.navbar__link--hover-azul:hover {
    background-color: var(--color-blue);
}

.navbar__body--azul {
    background-color: var(--color-blue);
}

.navbar__link--overline-hover-negro {
    text-decoration: overline;
}

.navbar__link--overline-hover-negro:hover {
    background-color: var(--color-black);
}

.navbar__body--verde {
    background-color: var(--color-transp);
}

.navbar__link--hover-verde-underline:hover {
    background-color: var(--color-green);
    text-decoration: underline;
}

.navbar__body--negra {
    background-color: var(--color-black);
}

.navbar__link--hover-azul-borderradius-overline:hover {
    background-color: var(--color-blue);
    border-radius: 40px;
    text-decoration: overline;
}
