
.navbar {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


.navbar__link {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    color: white; 
}

.navbar__link:hover {
    /* background-color: #555; */
    border-radius: 5px;
}
.linea-ancha{

    /* width: 5px; */
    height: 10px;
    background-color: black;


}
.navbar--amarilla{

    background-color: yellow;

}
.navbar__link--hover-azul:hover{

    background-color: blue;

}
.navbar--azul{

    background-color: blue;



}
.navbar__link--overline-hover-negro{

    text-decoration: overline;
    

}
.navbar__link--overline-hover-negro:hover{

background-color: black;

}
.navbar--verde{

    background-color: transparent;

}
.navbar__link--hover-verde-underline:hover{

    background-color: green;
    text-decoration: underline;
}
.navbar--negra{


    background-color: black;

}
.navbar__link--hover-azul-borderradius-overline:hover{


background-color: blue;
border-radius: 40px;
text-decoration: overline;



}