@import url('variables_globales.css');

.notification-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-spacing);
    padding: var(--padding-container);
}

.linea-ancha {
    width: 5000px;
    height: 6px;
    background-color: var(--color-black);
}

.notification {
    display: flex;
    align-items: center;
    padding: var(--padding-notification);
    border-radius: var(--border-radius);
    color: var(--color-white);
    font-size: var(--font-size-notification);
    position: relative;
}

.notification__icon {
    font-size: var(--font-size-icon);
    margin-right: var(--gap-spacing);
}

.notification__message {
    margin: 0;
}

.notification__base {
    background-color: var(--color-green);
}

.notification__Hola--azul {
    background-color: var(--color-blue);
}

.notification__message--hover-shadownegro-letraverde:hover {
    box-shadow: var(--shadow-black);
    color: var(--color-green);
}

.notification__Chao--fondorojo {
    background-color: var(--color-red);
}

.notification__icon--underline {
    text-decoration: underline;
}

.notification__message--hover-fondovioleta-overline-letraazul:hover {
    background-color: var(--color-violet);
    text-decoration: overline;
    color: var(--color-blue);
}

.notification__Nosvemos--brown {
    background-color: var(--color-brown);
}

.notification__icon--hover-letra-negra-fondo-blanco:hover {
    color: var(--color-black);
    background-color: var(--color-white);
}

.notification__message--underline-hover-overline-letra-verde-fondo-morado {
    text-decoration: underline;
}

.notification__message--underline-hover-overline-letra-verde-fondo-morado:hover {
    text-decoration: overline;
    color: var(--color-green);
    background-color: var(--color-purple);
}

.notification__missu--nofondo {
    background-color: var(--color-transparent);
}

.notification__icon--hover-overline-hover-fondo-verde:hover {
    text-decoration: overline;
    background-color: var(--color-green);
}

.notification__message--hover-fondo-negro-letra-amarillo:hover {
    background-color: var(--color-black);
    color: var(--color-yellow);
}

.notification__hateu--fondo-verde-shadow-naranja {
    background-color: var(--color-green);
    box-shadow: var(--shadow-orange);
}

.notification__icon--hover-transition-fondo-negro:hover {
    background-color: var(--color-black);
    transition: 5s;
}

.notification__message--hover-letra-azul:hover {
    color: var(--color-blue);
}
