@import url('variables_globales.css');

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: var(--pagination-padding);
    margin: var(--pagination-margin);
}

.pagination a {
    padding: var(--item-padding);
    margin: var(--item-margin);
    border: 1px solid var(--border-color);
    text-decoration: none;
    color: var(--text-color);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: var(--hover-bg-color);
}

.pagination a.active {
    background-color: var(--active-bg-color);
    color: var(--active-text-color);
}

.pagination a.prev, .pagination a.next {
    font-weight: bold;
}
