@import url('variables_globales.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
}

.container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 20px;
}

.post {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 15px;
    width: 20%;
    overflow: hidden;
    transition: transform 0.3s;
    color: var(--color-text-light);
}
.post__mensaje{

    background-color: var(--color-text-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
    

.post:hover {
    transform: scale(1.05);
}


.post__mensaje-fondo-negro-shadow-blue-border-radius-6px-hover-fondo-azul-color-naranja {
    background-color: var(--color-shadow-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.post__mensaje-fondo-negro-shadow-blue-border-radius-6px-hover-fondo-azul-color-naranja:hover {
    background-color: var(--color-accent-blue);
    color: var(--color-accent-orange);
}

.post__mensaje-fondo-azul-underline-end-color-naranja-hover-fondo-transparente-color-verde-shadow-negro {
    background-color: var(--color-accent-blue);
    color: var(--color-accent-orange);
    text-decoration: underline;
    text-align: end;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.post__mensaje-fondo-azul-underline-end-color-naranja-hover-fondo-transparente-color-verde-shadow-negro:hover {
    background-color: transparent;
    color: var(--color-accent-green);
    box-shadow: 30px 5px 5px var(--color-shadow-dark);
}

.post__mensaje-fondo-transparente-shadow-verde-hover-fondo-rojo-color-negro-fontsize-5px {
    background-color: transparent;
    color: var(--color-accent-orange);
    box-shadow: 30px 5px 5px var(--color-accent-green);
    text-align: end;
    border-radius: var(--border-radius);
    transition: transform 0.3s;
}

.post__mensaje-fondo-transparente-shadow-verde-hover-fondo-rojo-color-negro-fontsize-5px:hover {
    background-color: var(--color-accent-red);
    color: var(--color-text-dark);
    font-size: 5px;
}

.post__mensaje-fondo-negro-color-morado-center-hover-transition-fondo-morado-color-morado-underline-font-family {
    background-color: var(--color-shadow-dark);
    color: var(--color-accent-purple);
    text-align: center;
    text-decoration: underline;
    box-shadow: 30px 5px 5px var(--color-accent-green);
    border-radius: var(--border-radius);
}

.post__mensaje-fondo-negro-color-morado-center-hover-transition-fondo-morado-color-morado-underline-font-family:hover {
    background-color: var(--color-accent-purple);
    color: var(--color-text-dark);
    font-family: 'Times New Roman', Times, serif;
    transition: 5s;
}



.post h2 {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0 15px;
}

.post p {
    padding: 0 15px 15px;
    color: #555;
}
